:root {
    --main-link-color: #1E90FF;
    --main-text-color: #333;
}

html {font-size: 1em;}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  line-height: 1.45;
  color: var(--main-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}

article {
    margin: 0 15%;
}

article > section {
    margin-top: 2em ;
}

li {
    margin-top: 1.333em;
}

a {
    color: var(--main-link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
.form-group > label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

.form-group > input {
    padding: 5px;
}

.form-group > input[type="submit"] {
    margin-top: 16px;
}

.pull-right > * {
    float: right;
}

.pull-right:after {
    display: block;
    clear: both;
}

section {
    padding-bottom: 1.333em;
}